<h2 class = "mission_statement_title"> Our Mission Statement </h2> 

<h5 class = "mission_statement"> Our mission is to serve customers with integrity while providing them with all of their hair and wig related needs. We commit to give superior customer service consistently with happy relentless attitude while standing within an affordable budget for our clients. </h5>

<h5 class = "qualifications_statement"> Our hair stylist and wig repairist has received certification from top-of-the line proffesionals in the U.S.A. and Canada.
They are commited to treating your hair with the proffesionalism and care that our legendary care that we have become known for. </h5>