<h1> Welcome to the gallery page </h1> 

<%= link_to "create user", new_users_path %>

<%= link_to "login", new_session_path %>

<%= link_to "Request consultation", new_consultations_path %>

<%= link_to "Post review", new_review_path %>

