<h1 class = 'welcome_gallery_statement'> Welcome to the gallery page </h1> 

<div class = "first_set_of_pictures"> 
    <%= image_tag('baby_hair_before.jpeg', :class=> " picture rounded float-start")  %> 
    <h6> This is the baby hair proc3ess. </h6> 
    <%= image_tag('baby_hair_after.jpeg', :class=> 'picture rounded float-end') %> 
</div> 