/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 front end inspiration = https://www.lucidmotors.com/*/

 * {
    box-sizing: border-box;
}

body {
   padding: 0;
   margin: 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr auto .8fr;
   justify-content: center;
   align-content: center;
}

.item1 {
   grid-column: 1;
   grid-row: 1;
   justify-content: center;
}

.navBarUl {
   list-style-type: none;
   padding: 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.item2 {
   grid-column: 1/ span 2;
   grid-row: 2;
}

.item3 {
   grid-column: 1/ span 2;
   grid-row: 3;
}










