/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .html {
   margin: 0px;
   padding: 0px;
}

* {
   color: darkslategray;
}
.nav_div {
   height: 80px;
   width: 100%;
   box-sizing: border-box;
}

.nav_bar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 65%;
  
  padding-top: 10px;
  padding-bottom: 10px;

}

.link {
   text-decoration: underline;
   font-size: 24px;
   margin-right: 5px;
   margin-left: 5px; 
}

.body {
   height: 1000px;
   width: 100%;
   border: 1px red solid;
}

.consultation_div {
   height: 300px;
   width: 100%;
   display: inline-block;
   box-sizing: border-box;
}

.consultation_title {
   text-align: center;
   font-size: 28px;
}

.consultation_instruction {
   font-size: 26px;
   text-align: center; 
   text-decoration: none;
   text-align-last: center; 
}

.consultation_request_div {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;  
   box-sizing: border-box;
}

.input_div {
   flex-basis: 25%;
   margin-right: 12.5%;
   margin-left: 12.5%;
   margin-top: 10px;
   margin-bottom: 10px;
   
}

.consulation_input_div {
   flex-basis: 100%; 
   margin-right: 25%;
   margin-left: 30%;
   margin-top: 10px;
   margin-bottom: 10px;
}

.input_title {
   font-size: 20px;
}

.input_box {
   width: 225px;
   height: 18px;
}

.input_box_email  {
   margin-left: 37px; 
}

.input_box_phone {
   margin-left: 33px;
}

.input_box_consultation_request {
   width: 500px;
   height: 50px;
}

.direction {
   justify-content: flex-end;
   border: 1px red solid;
   padding-right: 75px;
}



