// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// about us page
.mission_statement_title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mission_statement {
    margin: 30px;
    text-align: justify;
    text-align-last: center;
    font-size: 20px;
}

.qualifications_statement {
    margin: 30px;
    text-align: justify;
    text-align-last: center;
    font-size: 20px;
}


// gallery page - index
.welcome_gallery_statement {
    text-align: center;
    font-size: 48px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.set_of_pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-basis: 0;
}

.column {
    flex: 1 1 0px;
    margin: 25px;
}





