// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reviews_title {
    text-align:center; 
    margin-top: 15px;
    margin-bottom: 30px;
}

.review_item {
    height: auto;
    width: 600px;
    margin-left: 50px;
    box-sizing: border-box;
}

.client_name {
    text-transform: capitalize;
}